.modal {
    border: 0;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.modalDelete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
}

.alert_delete {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.headerModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content__div, .title__div {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

